<!doctype html>
{% load static %}
<html>
  <head>
    <title>Stock Market Tracking</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <title>Stock Portfolio</title>
  </head>
  <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="{% url 'home' %}">Stock Portfolio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav mr-auto">
                   
                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'news' %}">News</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link" href="{% url 'add_stock' %}">Monitor Stocks</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'delete_stock' %}">Delete Stocks</a>
                      </li>
                    
                  </ul>
                  <form action="{% url 'home' %}" class="form-inline my-2 my-lg-0" method="POST">
                      {% csrf_token %}
                      
                    <input class="form-control mr-sm-2" type="search" placeholder="Enter Stock Quote" aria-label="Search" name="ticker">
                    <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Stock Quote</button>
                  </form>
                </div>
              </nav>
    <div class="box-info">
      <h1>Stock Market Basics: What Beginner Investors Should Know</h1>
      <p>
          The stock market isn't like your grocery store: To buy and sell stocks, you must shop through a licensed brokerage, which makes trades on your behalf.
          If you’re not well-versed in the basics of the stock market, the stock trading information spewing from CNBC or the markets section of your favorite newspaper can border on gibberish.

          Phrases like “earnings movers” and “intraday highs” don’t mean much to the average investor, and in many cases, they shouldn’t. If you’re in it for the long term — with, say, a portfolio of mutual funds geared toward retirement — you don’t need to worry about what these words mean, or about the flashes of red or green that cross the bottom of your TV screen. You can get by just fine without understanding the stock market much at all.

          If, on the other hand, you want to learn how to trade stocks, you do need to understand the stock market, and at least some basic information about how stock trading works.
      </p>
        <h1>Stock Market Basics</h1>
        <p>
The stock market is made up of exchanges, like the New York Stock Exchange and the Nasdaq. Stocks are listed on a specific exchange, which brings buyers and sellers together and acts as a market for the shares of those stocks. The exchange tracks the supply and demand — and directly related, the price — of each stock.

» Need to back up a bit? Read our explainer about stocks.

But this isn’t your typical market, and you can’t show up and pick your shares off a shelf the way you select produce at the grocery store. Individual traders are typically represented by brokers — these days, that’s often an online broker. You place your stock trades through the broker, which then deals with the exchange on your behalf. (Need a broker? See our analysis of the best stockbrokers for beginners.)

The NYSE and the Nasdaq are open from 9:30 a.m. to 4 p.m. Eastern, with premarket and after-hours trading sessions also available, depending on your broker.
        </p>

        <h1>Bull markets vs. bear markets</h1>
        <p>
Neither is an animal you’d want to run into on a hike, but the market has picked the bear as the true symbol of fear: A bear market means stock prices are falling — thresholds vary, but generally to the tune of 20% or more — across several of the indexes referenced earlier.

Bull markets are followed by bear markets, and vice versa, with both often signaling the start of larger economic patterns. In other words, a bull market typically means investors are confident, which indicates economic growth. A bear market shows investors are pulling back, indicating the economy may do so as well.

The good news is that the average bull market far outlasts the average bear market, which is why over the long term you can grow your money by investing in stocks.

The S&P 500, which holds around 500 of the largest stocks in the U.S., has historically returned an average of around 7% annually, when you factor in reinvested dividends and adjust for inflation. That means if you invested $1,000 30 years ago, you could have around $7,600 today. (Explore this further with NerdWallet's investment calculator.)
</p>
<h3>METHODOLOGY</h3>
<p>
    This survey was conducted online within the United States by The Harris Poll on behalf of NerdWallet from June 14-18, 2018, among 2,024 U.S. adults ages 18 and older, among whom 787 were invested in in the stock market during at least one of the past five financial downturns. This online survey is not based on a probability sample and therefore no estimate of theoretical sampling error can be calculated.
  </p>    
</div>

      <br/>
      
      <div></div>


      {% if messages %}
        {% for message in messages %}
          <div class="alert alert-warning
          alert_dismissable" role="alert">
            <button class="close" data-dismiss="alert">
              <small><sup>x</sup></small>
            </button>
            {{ message }}
          </div><br/>
        {% endfor %}
      {% endif %}

    {% block content %}

    {% endblock %}
    </div>
    
  </body>
   <!-- jQuery !-->
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
   <!-- jQuery UI !-->
   <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

   <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
 


 <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

 <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

 <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</html>

